<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="description" content="MAC FAST, marque de référence dans la restauration rapide de sandwich énergétiques de qualité, fête ses 25 ans et organise un grand jeu-concours !"><!--147 caratères max 156-->
    <!-- <base href="http://localhost/macfast/" target="_blank"> -->
    <meta charset="utf-8">
    <meta name="Keywords" content="jeu, jeu-concours, sandwich, cadeau, cadeaux, 2015, macfast, gagner, gagner voiture, voyages, gagner voyage, gagner cadeau, nutritif, surprise, lots">
    <title>Mac Fast 25 ans {% block titrepage %}{% endblock %}</title>
    <!-- Feuille de reset css conseillé par Alsacréation (http://www.alsacreations.com/astuce/lire/36-reset-css.html) -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {% block css_links %}
    {% endblock %}
    <!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- CODE POUR FAIRE UN GOOGLE ANALYTICS -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67062047-1', 'auto');
  ga('send', 'pageview');

</script>

  </head>
  <body >
  <!-- SCRIPT BOX FACEBOOK -->
     <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div class="container">
      <header>
        <div id="reseauxsociaux">
          <a href="https://www.facebook.com/pages/Mac-Fast/481720375337691" class="btn facebook"></a>
          <a href="https://twitter.com/mac_fast25" class="btn twitter"></a>
          <a href="https://plus.google.com/u/0/b/103260436538851985751/103260436538851985751" class="btn gplus"></a>
          <div>
            <a href="#Langage" class="btn lang fr"></a>
            <a href="#Langage" class="btn lang en"></a>
            <a href="#Langage" class="btn lang de"></a>
          </div>
        </div>
        <div id="logomacfast"><a href="/"><img alt="logo Mac Fast" src="/images/logo_macfast.jpg" alt="logo mac fast"/></a></div>
        <div id="title"><h1>{% block title %} <span style="color:#e76713">25 ans</span> de pure vitalité<br />Merci pour votre <span style="color:#e76713">fidélité !</span>{% endblock %}</h1></div>
        {% block sub_header %}{% endblock %}
      </header>
      <!-- BOUTONS DE NAVIGATION PRINCIPALES -->
      <nav>
        <a href="/index.php/jouer#jeux_formulaire" class="btn round"><img alt="jouer" src="/images/boutons/picto_jeu.png"/></a>
        <a href="/index.php/cadeaux#cadeaux" class="btn round"><img alt="cadeaux" src="/images/boutons/picto_cado.png"/></a>
        <a href="/index.php/carte#noustrouver" class="btn round"><img alt="nous trouver" src="/images/boutons/picto_localisation.png"/></a>
      </nav>
      <main>
        {% block main %}
        <section><!-- LE TIMER -->
          {{ include('counter.twig.html') }}
        </section>
        {% endblock %}

        <div id="footer">
        <!-- LISTE DES PARTENAIRES -->
          <div id="partenaires">
          <div>
            <a href="https://www.google.fr/"><img src="/images/logo_partenaires/google.jpg" alt="google" /></a>
            <a href="http://www.coca-cola-france.fr/"><img src="/images/logo_partenaires/coca_cola.jpg" alt="coca_cola" /></a>
            <a href="http://www.danone.com/"><img src="/images/logo_partenaires/danone.jpg" alt="danone" /></a>
            <a href="http://www.redbull.com/fr/fr"><img src="/images/logo_partenaires/red_bull.jpg" alt="red_bull"/></a>
            <a href="http://www.ugc.fr/home.html"><img src="/images/logo_partenaires/ugc.jpg" alt="ugc"/></a>
          </div>
          <div>
            <a href="http://www.ratp.fr/"><img src="/images/logo_partenaires/ratp.jpg" alt="ratp"/></a>
            <a href="http://www.sncf.com/"><img src="/images/logo_partenaires/sncf.jpg" alt="sncf"/></a>
            <a href="http://www.20minutes.fr/"><img src="/images/logo_partenaires/20_munites.jpg" alt="20_minutes"/></a>
            <a href="http://www.directmatin.fr/"><img src="/images/logo_partenaires/direct_matin.jpg" alt="direct_matin"/></a>
            <a href="http://www.leparisien.fr/"><img src="/images/logo_partenaires/le_parisien.jpg" alt="le_parisien"/></a>
            </div>
          </div>
          <!-- BOX FACEBOOK -->
          <div id="p" class="fb-page" data-href="https://www.facebook.com/pages/Mac-Fast/481720375337691" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/Mac-Fast/481720375337691"><a href="https://www.facebook.com/pages/Mac-Fast/481720375337691">Mac Fast</a></blockquote></div></div>
        </div>
      </main>
      <footer>
        {% block footer %}
        <ul id="liens">
          <li><a href="#">Plan du site</a></li>
          <li><a href="/index.php/reglement_jeu">Reglement du jeu</a></li>
          <li><a href="/index.php/condition_general">Conditions Générales d'utilisation</a></li>
          <li><a href="/index.php/mentionslegales">Mentions légales du site</a></li>
        </ul>
        
        <ul id="copyright">
          <li>© GB Agency - MAC FAST | All Rights Reserved</li>
          <li><a href="http://www.mangerbouger.fr/">Pour votre santé, mangez au moins cinq fruits et légumes par jour | mangerbouger.fr</a>
          </li>
        </ul>
        {% endblock %}
      </footer>
    </div>
  </body>
</html>