<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="description" content="Site vitrine jeux concours pour projet fin d'année F2I">
    <meta charset="utf-8">
    <title>Mac Fast 25 ans</title>
    <!-- Feuille de reset css conseillé par Alsacréation (http://www.alsacreations.com/astuce/lire/36-reset-css.html) -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {% block css_links %}
    {% endblock %}
    <!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    

  </head>
  <body >
    <div class="container">
      <header>
        <div id="menu">
          <a href="#facebook" class="btn facebook"></a>
          <a href="#twitter" class="btn twitter"></a>
          <a href="#gplus" class="btn gplus"></a>
          <a href="#Langage" class="btn lang"></a>
        </div>
        <div id="logomacfast"><a href="/"><img alt="logo Mac Fast" src="/images/logo_macfast.jpg"/></a></div>
        <div id="title"><h1>{% block title %} <span style="color:#e76713">25 ans</span> de pur vitalité<br />Merci pour votre <span style="color:#e76713">fidélité !</span>{% endblock %}</h1></div>
        {% block sub_header %}{% endblock %}
      </header>
      <nav>
        <a href="/index.php/jouer#jeux_formulaire" class="btn round"><img alt="jouer" src="/images/boutons/picto_jeu.png"/></a>
        <a href="/index.php/cadeaux#cadeaux" class="btn round"><img alt="cadeaux" src="/images/boutons/picto_cado.png"/></a>
        <a href="#noustrouver" class="btn round"><img alt="nous trouver" src="/images/boutons/picto_localisation.png"/></a>
      </nav>
      <main>
        {% block main %}{% endblock %}
      </main>
      <footer>
        {% block footer %}
        <ul id="liens">
          <li><a href="#">Plan du site | </a></li>
          <li><a href="http://reglement_jeu.twig.html">Reglement du jeu | </a></li>
          <li><a href="http://condition_general.twig.html">Conditions Générales d'utilisation | </a></li>
          <li><a href="http://mentionslegales.twig.html">Mentions légales du site</a></li>
        </ul>
        
        <ul>
          <li>© GB Agency - MAC FAST | All Rights Reserved</li>
        </ul>
        
          <ul>
          <li><a href="http://www.mangerbouger.fr/">Pour votre santé, mangez au moins cinq fruits et légumes par jour | mangerbouger.fr</a></li>
        </ul>
        {% endblock %}
      </footer>
    </div>
  </body>
</html>