Conditions Générales d’Utilisation

Ce site a été déclaré à la CNIL et enregistré sous la référence de dossier n°2359756 le 06/07/2015. 

ACCEPTATION DES PRÉSENTES CONDITIONS GÉNÉRALES D’UTILISATION

Le fait pour une personne physique de visiter et / ou d’utiliser le Site emporte acceptation pleine et entière des présentes Conditions Générales d’Utilisation. Une telle personne est réputée, au sens des présentes Conditions Générales d’Utilisation être un « Utilisateur »


MODIFICATION DES PRESENTES CONDITIONS GENERALES D’UTILISATION

L’Éditeur se réserve le droit de modifier, à tout moment et sans notification préalable, les présentes Conditions Générales d’Utilisation du Site. Chaque Utilisateur se connectant au Site est invité à consulter régulièrement les présentes Conditions Générales d’Utilisation afin de prendre connaissance de changements éventuels. L’utilisation renouvelée du Site au fur et à mesure de la modification de ces conditions d’utilisation vaudra acceptation, par chaque Utilisateur, des Conditions Générales d’Utilisation en vigueur.


DONNÉES PERSONNELLES

Aucune information personnelle n’est collectée à votre insu. Aucune information personnelle n’est cédée à un tiers sans votre accord. Les données personnelles recueillies sur le Site résultent de la communication volontaire d’informations via le formulaire présents sur le Site. Ces données sont exclusivement collectées pour un usage interne au Site : transmission des informations demandées ou gestion de l’envoi de la newsletter. Ces données sont également utilisées pour vous adresser de la prospection commerciales et communiquées aux sponsors et partenaires de l’enquête à des fins commerciales. Si vous acceptez de recevoir les offres des sponsors et partenaires, les données que vous fournissez sont destinées à chacun d’eux aux fins de prospection commerciale. Les sponsors et partenaires sont chacun, pour ce qui les concerne, responsable de traitement des données ainsi collectées, avec votre accord.


En application de la Loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, tout Utilisateur dispose d’un droit d’accès, d’opposition de modification, de rectification et de suppression des données le concernant. A cette fin, il doit s’adresser à :

MAC FAST
8 rue Gobelins,  
75013 Paris
contact@macfast.com

ou par téléphone entre 9h et 17h (GMT+1) (GMT+1) au (+33) 01 25 66 22 33.

Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.
Les données collectées sont notamment les suivantes :  nom, prénom, adresse, téléphone, e-mail. Lors de votre visite, les serveurs identifient automatiquement et stockent les données suivantes :
Votre adresse IP
L’adresse du site qui vous a amené sur le notre, si elle existe
L’identifiant et la version de votre navigateur Web
Le système d’exploitation que vous utilisez
Le cas échéant, les termes saisis dans votre moteur de recherche pour arriver sur nos pages



UTILISATION DE COOKIES

Le Site utilise des identifiants informatiques appelés « cookies » pour la mémorisation de certains paramètres, tels que la reconnaissance des comptes et identifiants. Les cookies sont utilisés notamment pour obtenir des informations relatives aux pages consultées et aux dates et heures de consultation ainsi que pour faciliter l’affichage des pages. Si les Utilisateurs interdisent les cookies, certaines informations pourront ne pas s’afficher convenablement et l’accès au Site pourra devenir difficile voire impossible. Il est donc recommandé aux Utilisateurs de programmer l’acceptation des cookies du Site par leur navigateur au risque de ne pas pouvoir accéder à leur compte. Les Utilisateurs peuvent s’opposer à l’enregistrement des cookies en paramétrant les options de leur navigateur Internet (rubrique confidentialité, vie privée, etc...).

Les sites tiers visités par l’Utilisateur ou les publicités figurant sur le Site sont également susceptibles de poser des « cookies ». Ceux-ci sont gérés par des tiers indépendants de l’Éditeur sous leur seule responsabilité, étant précisé que l’Éditeur n’a aucun accès aux données qui pourraient être obtenues au moyen de ces « cookies ».


PROPRIETE INTELLECTUELLE

Le Site, sa structure générale, ainsi que les textes, graphiques, images, sons et vidéos le composant, sont la propriété de l’Éditeur. L’ensemble de ce Site relève de la législation française et internationale sur le droit d’auteur et la propriété intellectuelle. Toute représentation, reproduction, publication, utilisation quelle qu’elle soit, exploitation partielle ou totale des contenus (marques, logos, logiciels, données, informations, textes, illustrations, photographies, bannières, boutons, pop-up, musiques et autres signes distinctifs) et services proposés par le Site, par quelque procédé que ce soit, sans l’autorisation écrite préalable de l’Éditeur est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle.
Toute demande relative l’autorisation écrite mentionnée ci-dessus devra être adressée au siège de l’Éditeur.

L’Utilisateur cède expressément et gracieusement à l’Éditeur tous les droits de propriété intellectuelle afférant aux messages et contenus qu’il publie sur le Site, notamment le droit de reproduction, de représentation et d’adaptation, sur tout support et en tout format connus ou inconnus à ce jour, par tout système et sur tout réseau, y compris Internet, pour le monde entier et pour une durée illimitée.


LIMITATION DE RESPONSABILITÉ DE L’ÉDITEUR
Contenu du Site

L’Éditeur s’efforce de maintenir le Site à jour mais ne peut en aucune manière garantir que les informations présentes sur celui-ci soient d’actualité 24h/24. La société se réserve le droit de les modifier sans préavis.

Les informations apparaissant sur le Site et/ou accessibles par le Site sont présentes à titre purement informatif et ne sont en aucun cas des suggestions, ordres ou demandes. L’Éditeur ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit résultant de l’interprétation ou de l’utilisation des informations disponibles sur le Site.

L’Utilisateur est seul et unique responsable, sur le plan juridique, des propos et/ou contenus (textes, images, sons, etc.) qu’il communique dans les forums, blogs, chats et autres rubriques communautaires du Site, l’Éditeur intervenant dans le cadre de ces rubriques comme simple hébergeur, sans obligation générale de surveillance du contenu diffusé par les Utilisateurs.

Par conséquent, l’Utilisateur garantit l’Éditeur contre tout recours, contestation, demande en dommages et intérêts, ou autre action ou prétention que pourraient former des tiers à un titre quelconque à la suite de la communication par l’Utilisateur de propos et/ou contenus sur le Site. Dans le cas où la responsabilité de l’Éditeur serait recherchée à raison d’un manquement par l’Utilisateur aux obligations qui lui incombent aux termes des présentes Conditions Générales d’Utilisation, l’Éditeur se réserve le droit d’appeler l’Utilisateur en garantie. L’Utilisateur renonce également à exercer tout recours contre l’Éditeur dans le cas de poursuites diligentées par un tiers à son encontre du fait de l’utilisation et/ou de l’exploitation illicite du Site.

L’Éditeur se réserve le droit, sur demande d’une autorité judiciaire ou tiers, de communiquer toute information en sa possession permettant ou facilitant l’identification de l’Utilisateur, tels que l’adresse mail et l’heure de connexion, en particulier en cas de non-respect par l’Utilisateur des obligations définies dans les présentes Conditions Générales d’Utilisation.

Liens hypertextes

Le Site contient des liens hypertextes vers des sites exploités par des tiers. Ces liens sont fournis à simple titres d’information. L’Éditeur n’exerce aucun contrôle sur ces sites et décline toute responsabilité quant à l’accès, au contenu ou à l’utilisation de ces sites, ainsi qu’aux dommages pouvant résulter de la consultation des informations présentes sur ces sites. La décision d’activer ces liens relève de la pleine et entière responsabilité de l’Utilisateur.

Accessibilité du Site

L’Éditeur s’efforce de maintenir le Site accessible 24h/24. Toutefois, l’Éditeur décline toute responsabilité en cas :

d’interruption du Site pour des opérations de maintenance techniques ou d’actualisation des informations publiées;
d’impossibilité momentanée d’accès au Site en raison de problèmes techniques et ce quelles qu’en soient l’origine et la provenance;
de dommages directs ou indirects causés à l’Utilisateur, quelle qu’en soit la nature, résultant du contenu, de l’accès ou de l’utilisation du Site;
d’utilisation anormale ou d’une exploitation illicite du Site. L’Utilisateur est alors seul responsable des dommages causés aux tiers et des conséquences des réclamations ou actions qui pourraient en découler.

Caractéristiques et limites de l’Internet

La connexion au Site implique la connaissance et l’acceptation par l’Utilisateur des caractéristiques et des limites de l’Internet, notamment en ce qui concerne les performances techniques, les temps de réponse pour consulter, interroger ou transférer des informations, les risques d’interruption, et plus généralement, les risques inhérents à toute connexion et transmission sur Internet, l’absence de protection de certaines données contre des détournements éventuels et les risques de contamination par d’éventuels virus informatiques circulant sur le réseau.

En conséquence, L’Éditeur ne saurait en aucune circonstance être tenue pour responsable, sans que cette liste soit limitative :

de la transmission et/ou de la réception de toute donnée et/ou information indésirable sur Internet,
de tout dysfonctionnement du réseau Internet empêchant l’accès au Site et/ou le fonctionnement d’un ou plusieurs jeux proposés sur le Site,
de la défaillance de tout matériel de réception ou des lignes de communication,
de la perte de tout courrier papier ou électronique et, plus généralement, de la perte de toute donnée,
des problèmes d’acheminement,
du dysfonctionnement de tout logiciel,
des conséquences de tout virus ou bogue informatique, anomalie, défaillance technique,
de tout dommage causé à l’ordinateur d’un Utilisateur,
de toute défaillance technique, matérielle et logiciel de quelque nature, ayant empêché ou limité la participation à l’un des jeux proposés sur le Site ou ayant endommagé le système informatique d’un Utilisateur.

L’Éditeur ne saurait non plus voir sa responsabilité engagée au titre d’éventuels dysfonctionnements du réseau Internet entraînant des défaillances dans l’administration, la sécurité, l’intégrité ou la gestion des jeux ou services proposés sur le Site.
La connexion de toute personne au Site et la participation au jeu sur le Site se fait sous son entière responsabilité. Il appartient à tout Utilisateur de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels stockés sur son équipement informatique contre toute atteinte.


Lettre d’information / formulaires de contact 

Si vous êtes abonnés à une lettre d’information («newsletter») vous pouvez demander à ne plus recevoir ces courriers en suivant les instructions figurant en bas de page sur chacun d’eux. L’utilisateur est informé que les informations facultatives qu’il communique, en répondant aux formulaires présents sur le site, permettent de répondre à sa demande et sont destinées exclusivement à Mac Fast. Par une démarche de consentement volontaire et précise, l’utilisateur peut recevoir, s’il en fait la demande, des informations émanant de Mac Fast à posteriori de sa demande.


LOI APPLICABLE ET TRIBUNAUX COMPETENTS

Les présentes Conditions Générales d’Utilisation sont soumises au droit français qui détermine, au cas par cas, la loi applicable. En l’absence de toute disposition impérative contraire ou en présence d’un choix dans la détermination de la loi applicable, la loi française sera appliquée.

Toutes contestations qui pourraient survenir au sujet de la validité, de l’interprétation, de l’acceptation et de l’exécution des présentes quel que soit le lieu de consultation, de souscription ou de règlement, feront l’objet d’une tentative de règlement amiable que les parties s’engagent à rechercher. A défaut d’y parvenir dans un délai de (3) mois, les tribunaux de Paris seront seuls compétents même en cas d’appel en garantie, de pluralité de défendeurs, de procédures d’urgence ou conservatoires, de procédure de référé ou sur requête.