{% extends "base.twig.html" %}

{% block sub_header %}
        <div id="sub-header">
          <img src="/images/banniere_explication.jpg" />
        </div>
{% endblock %}

{% block main %}
				<section>
          <a href="http://www.compteurdevisite.com" target="_Blank" title="compteur pour site">compteur pour site</a><br/>
<script type="text/javascript" src="//counter9.bestfreecounterstat.com/private/countertab.js?c=0a28bdef96028d0415bede156341b599"></script>
<noscript><a href="http://www.compteurdevisite.com" title="compteur pour site"><img src="//counter9.bestfreecounterstat.com/private/compteurdevisite.php?c=0a28bdef96028d0415bede156341b599" border="0" title="compteur pour site" alt="compteur pour site"></a>
</noscript>
				</section>
{% endblock %}