{% extends "base.twig.html" %}

{% block css_links %}
  <!-- Lien du style specifique aux pages de jeux  -->
  <link rel="stylesheet" type="text/css" href="/css/jeux.css" />
{% endblock %}

{% block main %}
				<section id="jeux_formulaire" >
          {% if error is defined %}
          <span id="errors">{{ error }}</span>
          {% endif %}
          <form action="" method="post" target="_blank">
            <label>Nom<input type="text" name="name" required/></label>
            <label>Prénom<input type="text" name="firstname" required /></label>
            <label>Adresse email<input type="email" name="email" required /></label>
            <label>Téléphone<input type="text" name="telephone"/></label>
            <input type="submit" name="user" value="Valider" />
          </form>
				</section>
{% endblock %}