{% extends "base.twig.html" %}

{% block css_links %}
<!-- Lien du style specifique aux pages de jeux  -->
<link rel="stylesheet" type="text/css" href="/css/jeux.css" />
{% endblock %}

{% block main %}
	<section id="recompense" class="container {% if cadeau %}gagne{% else %}perdu{% endif %}">
          {% if cadeau %}
          <h2>Gagné !</h2>
          <p>Vous remportez <br /> un {{ cadeau.nom }}</p>
          <img />
          {% if cadeau.type == "MUS" %}
               <a href="https://www.itunes.com" class="info_mode_reception">Clickez sur le lien pour télécharger votre musique</a>
          {% else %}
               <span class="info_mode_reception">Vous aller recevoir votre code d'activation par mail et SMS</span>
          {% endif %}
          {% else %}
          <h2>Vous avez perdu</h2>
          <img id="smiley" src="/images/smille{% if not cadeau %}_bad{% endif %}.png" />
          {% endif %}
	</section>
     {{ parent() }}
{% endblock %}