{% extends "base.twig.html" %}

{% block titrepage %}- Mentions légales {% endblock %}

{% block main %}
				<section class="container">
				<p>
				<h3>Les mentions légales</h3>

<p>
	Éditeur : Mac Fast, chaîne de restauration <br />
	Siège social : <address> 8 rue Gobelins, 75013 Paris - France</address> <br />
	eMail : <a href="mailto:contact@macfast.com">contact@macfast.com</a> <br />
	Capital : 1 500 000  €  <br />
	siren : 778 333 696 00000 <br />
	SIRET : 778 333 696 13749  <br />
	Code APE/NAF : 9878Z  <br />
	TVA INTRACOMMUNAUTAIRE : FR 23 778 333 696  <br />
</p>

<h4>Responsabilité éditoriale</h4>
Directeur de la publication : Victor Pignon, PDG MAC FAST


<h4>Conception/réalisation </h4>
<p>
	Agence : Go Bubble Agency <br />
	Siège social : <address>10 Avenue Jean Jaurès 75011 PARIS - France</address><br />
	eMail : <a href="mailto:mail@gb.com">mail@gb.com</a> <br />
	Capital : 90 000  €  <br />
	Siren : 778 333 695 00000 <br />
	Siret : 778 333 695 13748  <br />
	Code APE/NAF : 9868Z  <br />
	TVA intra-communautaire : FR 23 778 333 695  <br />
	Mélody Kern, Chef de projet chez Go Bubble Agency, assistée de Emmeline Guiragossian. <br />
</p>

<h4>Hébergement </h4>
<p>
	hébergeur : Mac Fast, chaîne de restauration  <br />
	Siège social : <address>8 rue Gobelins, 75013 Paris - France</address><br />
	eMail : <a href="mailto:contact@macfast.com"> contact@macfast.com </a><br />
	Capital : 1 500 000  €  <br />
	siren : 778 333 696 00000 <br />
	SIRET : 778 333 696 13749  <br />
	Code APE/NAF : 9878Z  <br />
	TVA INTRACOMMUNAUTAIRE : FR 23 778 333 696  <br />
</p>
Pour toute question concernant le site, contactez Mélody Kern, chef de projet de l’agence Go Bubble Agency. 


				</p>
				</section>
{% endblock %}