Les mentions légales

Éditeur : Mac Fast, chaîne de restauration 
Siège social : 8 rue Gobelins, 75013 Paris - France
eMail : contact@macfast.com
Capital : 1 500 000  € 
siren : 778 333 696 00000
SIRET : 778 333 696 13749 
Code APE/NAF : 9878Z 
TVA INTRACOMMUNAUTAIRE : FR 23 778 333 696 

Responsabilité éditoriale 
Directeur de la publication : Victor Pignon, PDG MAC FAST


Conception/réalisation 
Agence : Go Bubble Agency
Siège social : 10 Avenue Jean Jaurès 75011 PARIS - France 
eMail : mail@gb.com
Capital : 90 000  € 
Siren : 778 333 695 00000
Siret : 778 333 695 13748 
Code APE/NAF : 9868Z 
TVA intra-communautaire : FR 23 778 333 695 
Mélody Kern, Chef de projet chez Go Bubble Agency, assistée de Emmeline Guiragossian.


Hébergement 
hébergeur : Mac Fast, chaîne de restauration 
Siège social : 8 rue Gobelins, 75013 Paris - France
eMail : contact@macfast.com
Capital : 1 500 000  € 
siren : 778 333 696 00000
SIRET : 778 333 696 13749 
Code APE/NAF : 9878Z 
TVA INTRACOMMUNAUTAIRE : FR 23 778 333 696 

Pour toute question concernant le site, contactez Mélody Kern, chef de projet de l’agence Go Bubble Agency. 


