{% extends "base.twig.html" %}

{% block main %}
				<section class="container">
				<p>
				<h2>Règlement du jeu</h2>
 
<h3>Ce site a été déclaré à la CNIL et enregistré sous la référence de dossier n°2359756 le 06/07/2015. </h3>

<h4>ARTICLE 1 : SOCIÉTÉ ORGANISATRICE</h4>

<p>La société MAC FAST (ci-après dénommée « Société Organisatrice »), Société Anonyme au capital de 1.500.000 euros, immatriculée au Registre du Commerce et des Sociétés de Nanterre sous le numéro 495 718 776, ayant son siège social au 8 rue Gobelins, 75013 Paris, et représentée par Monsieur Victor Pignon, organise en France un jeu gratuit avec obligation d’achat intitulé « Les 25 ans MAC FAST » (ci-après dénommé « le Jeu »), qui aura lieu dans les restaurants de la marque (ci-après dénommés « Restaurants »), organisé du lundi 14 septembre 2015 (à partir de 00h01) au dimanche 13 décembre 2015 inclus (jusqu’à 23h59). Jeu accessible uniquement sur Internet à partir du site MAC FAST, à l’URL suivante : <a href="http://www.mac-fast25.eu">http://www.mac-fast25.eu</a></p>

<p>Le présent règlement de jeu fixe les conditions générales selon lesquelles le Jeu sera organisé.</p>


<h4>ARTICLE 2 : PÉRIODE DE JEU</h4>

<p>Ce Jeu se déroule du lundi 14 septembre 2015 (à partir de 00h01) au dimanche 13 décembre 2015 inclus (jusqu’à 23h59), date et heure françaises de connexion faisant foi, de manière continue.</p>


<h4>ARTICLE 3 : INSCRIPTION ET PARTICIPATION</h4>

<p>3.1 La participation au Jeu implique l’acceptation expresse et sans réserve du présent règlement, en toutes ses stipulations, des règles de déontologie en vigueur sur Internet (étiquette, charte de bonne conduite…) ainsi que des lois et règlements applicables aux jeux en vigueur en France. Tout litige concernant son interprétation sera tranché souverainement et sans appel par la Société Organisatrice.</p>

<p>3.2 Ce Jeu est ouvert à toute personne physique majeure résidant en Europe à l’exclusion de toutes les personnes ayant participé à l’élaboration directe ou indirecte du Jeu de même que leur famille. Il s’agit notamment des membres du personnel de la Société Organisatrice et de ses filiales, des membres de la société Go Bubble Agency, des membres du personnel des Points de vente, les prestataires de la Société Organisatrice ou des Points de vente, le personnel de l’étude d’huissier en charge du dépôt du présent règlement.</p>

<p>3.3 Pour participer, il est nécessaire d’avoir un accès personnel à Internet et de disposer d’une adresse électronique valide durant toute la durée du Jeu. Le Participant sera amené à s’inscrire. L’enregistrement des inscriptions s’effectue de façon continue pendant toute la période du Jeu, l’heure de la réception de l’enregistrement de son inscription sur le serveur informatique dédié au Jeu et hébergé sur le serveur de la Société Organisatrice faisant foi. </p>


<h4>ARTICLE 4 : MODALITÉS DE PARTICIPATION</h4>

<p>Pour participer au Jeu, le joueur doit :
<ol>
	<li>Acheter un produit MAC FAST porteur de l’offre</li>
	<li>Afin de savoir si son code est gagnant ou perdant, le joueur devra :
		<ul>
			<li>Se connecter sur <a href="http://www.mac-fast25.eu">www.mac-fast25.eu</a>, muni du code jeu imprimé à l’intérieur du produit ;</li>
			<li>S’inscrire en suivant les instructions du site :</li>
			<li>Renseigner les informations du formulaire d’inscription</li>
			<li>Accepter le contenu du règlement en cochant la case prévue à cet effet</li>
			<li>Valider l’inscription en cliquant sur le bouton « valider »</li>
			<li>Entrer son code jeu figurant sur son ticket</li>
		</ul>
	</li>
</ol>
</p>


<p>La participation au jeu est limitée à 1 participation par adresse mail sur toute la durée du Jeu. Ce Jeu est basé sur le principe des instants gagnants. Le gagnant saura immédiatement si son code jeu correspond à un instant gagnant ou non et quelle dotation il a remporté. Le gagnant recevra un email et un SMS (si renseigné) de confirmation précisant les modalités d’obtention de sa dotation.<br />
Pour les 37 121 dotations « Les 25 ans MAC FAST », le gagnant sera contacté sous un délai de 2 semaines à partir de la réception de l’email l’informant de son gain afin d’en définir les modalités (voir ARTICLE 9). Le participant est informé que les informations saisies dans le formulaire d’inscription valent preuve de son identité, ce qu’il accepte. Les informations saisies par le participant l’engagent dès leur validation. La Société Organisatrice se réserve le droit de vérifier l’exactitude des données fournies par les participants.<br />
Le participant s’engage à compléter de bonne foi le formulaire d’inscription mis à sa disposition et à transmettre à la Société Organisatrice des informations exactes. Le participant doit renseigner l’ensemble des zones de saisie, excepté celles mentionnées comme n’étant pas obligatoires.<br />
Les participations au Jeu seront annulées si elles sont incorrectes, incomplètes, contrefaites ou réalisées de manière contrevenante au présent règlement.</p>


<h4>ARTICLE 5 : RESPECT DE L’INTÉGRITÉ DU JEU</h4>

<p>Le participant s’interdit de mettre en œuvre ou de chercher à mettre en œuvre tout procédé de participation qui ne serait pas strictement conforme au respect des principes du Jeu et de ce présent règlement. La Société Organisatrice se réserve également le droit de disqualifier tout participant qui altère le fonctionnement du Jeu ou encore qui viole les règles officielles du Jeu. La Société Organisatrice se réserve le droit de poursuivre quiconque tenterait de frauder ou de nuire au bon déroulement de ce Jeu.<br />
La Société Organisatrice se réserve le droit de procéder à toute vérification pour le respect du présent ARTICLE comme de l’ensemble du règlement, notamment pour écarter tout participant ayant commis un abus quelconque ou une tentative de fraude, sans toutefois qu’il ait l’obligation de procéder à une vérification systématique de l’ensemble des formulaires d’inscription reçus, mais pouvant éventuellement limiter cette vérification aux formulaires des gagnants potentiels. </p>

<p>La Société Organisatrice se réserve le droit de proroger, d’écourter, de modifier ou d’annuler le présent Jeu en raison d’événements indépendants de sa volonté. Si pour quelque raison que ce soit, ce jeu ne devait pas se dérouler comme prévu par suite par exemple d’un virus informatique, d’un bug, d’une intervention, ou d’une intrusion extérieure et non autorisée sur le système informatique, d’une fraude y compris l’utilisation d’un robot permettant de multiplier le nombre d’inscriptions au jeu, ou d’une défaillance technique ou tout autre motif dépassant le contrôle de la Société Organisatrice et corrompant ou affectant la gestion, la sécurité, l’équité, la bonne tenue du Jeu, la Société Organisatrice se réserve alors le droit discrétionnaire d’annuler, de modifier ou suspendre le Jeu ou encore d’y mettre fin sans délai, sans que les participants ne puissent rechercher sa responsabilité de ce fait.<br />
La Société Organisatrice pourra décider d’annuler le Jeu s’il apparaît que des fraudes manifestes soient intervenues sous quelque forme que ce soit, notamment de manière informatique dans le cadre de la participation au Jeu ou de la détermination des gagnants.</p>


<h4>ARTICLE 6 : CONVENTION DE PREUVES</h4>

Il est convenu que les données contenues dans les systèmes d’information de la Société Organisatrice ont force probante quant aux éléments de connexion et aux informations résultant d’un traitement informatique relatif au Jeu organisé par la Société Organisatrice.


<h4>ARTICLE 7 : DÉSIGNATION DES GAGNANTS</h4>

<p>Les instants gagnants déposés auprès de l’huissier de justice dépositaire du présent règlement sont déterminés aléatoirement pour toute la durée du Jeu, sous forme de dates avec heure à partir de laquelle la première participation valide sera déclarée gagnante. A chaque instant gagnant correspondra l’une des 37 121 dotations. Il y a 37 121 instants gagnants pendant toute la durée du Jeu. Les instants gagnants sont distribués aléatoirement dans les différents restaurants de la Société Organisatrice.
</p>
<h4>ARTICLE 8 : DOTATIONS</h4>

<p>Les dotations mises en jeu sont les suivantes :<br />
- 37 121 (trente sept mille cent vingt et un) dotations « Les 25 ans MAC FAST »<br />
La dotation « Les 25 ans MAC FAST » est définie par la Société Organisatrice de la manière suivante :</p>

Les gagnants gagneront chacun : 
<ul>
<li>5 voyage à New York (2 personnes)</li>
<li>15 week end à Paris (2 personnes)</li>
<li>50 iPhone 6</li>
<li>50 samsung galaxy s5</li>
<li>1 voiture (swift sport)</li>
<li>2 000 places de cinéma UGC</li>
<li>5 000 téléchargements iTunes</li>
<li>30 000 goodies</li>
</ul>

<p>La voiture comprend :
Swift Sport 3 portes (valeur 17480  €) bleu, Essence, 1.6 VVT - Boîte manuelle, ESP®, 7 airbags, Jantes en alliage 17’’, Air conditionné à régulation automatique, Connexion Bluetooth, Système de démarrage sans clé, Projecteurs bi-xénon. 136 ch.</p>

<p>Le voyage à New York comprend :<br />
Un vol aller retour, depuis Paris (valeur 1 006 €), pour 1 semaine (1 au 8 janvier 2016).</p>

<p>Le week end à Paris comprend : <br />
2 nuits dans un hôtel 3 étoiles (valeur 330 €) valable tous les weeks end de février 2016.<address>Nom de l’hôtel : Hotel Best Western Diva Opera <br />
	Adresse : 11 rue de Trévise, 75009 Paris</address>
	</p>

<p>L’iPhone 6 comprend : <br />
iPhone 6, Écran 4,7 pouces (valeur 709 €), 16Go, Argent ou Or.</p>

<p>Le samsung galaxy s5 comprend : <br />
Smartphone Samsung Galaxy S5 (valeur 419,90 €), 16 Go, Noir ou Blanc.</p>

<p>Une place de cinéma solo UGC (valeur 6,80 €)</p>

<p>Un téléchargement iTunes (valeur 5 €)</p>

<p>Un goodie MAC FAST (valeur entre 0,50 € et 3 €)</p>


<p>La mise en ligne du jeu est prévue pour lundi 14 septembre 2015.</p>

<p>Les lots attribués ne pourront faire l’objet d’aucune contestation de la part des différents gagnants. Le lot attribué est incessible, intransmissible et ne peut être vendu. Il ne pourra faire l’objet de la part de la Société Organisatrice d’aucun échange ni d’aucune remise en nature ou en numéraire. Toutefois, en cas de force majeure telle que définie par la loi et la jurisprudence, la Société Organisatrice se réserve le droit de remplacer l’une des dotations attribuées par une dotation de valeur équivalente.</p>


<h4>ARTICLE 9 - Information du gagnant et remise des lots</h4>
 
<p>La Société Organisatrice enverra le lot au gagnant, dans la semaine suivant la validation de son lot dans un des restaurants MAC FAST. Le lot sera envoyé à l’adresse que ce dernier aura indiqué lors de son inscription au Jeu.
 </p>

<p>Le gagnant devra confirmer dans la semaine suivant la réception de l’e-mail, en répondant à l’adresse e-mail expéditrice, qu’il accepte son lot.
 
<p>A défaut de confirmation reçue de la part du gagnant dans les conditions susvisées après écoulement d’une semaine, le lot pourra être réattribué au moyen d’un tirage au sort réalisé parmi l’ensemble des participants ayant dûment validé leur participation et n’ayant pas gagné précédemment. 
Toute coordonnée incomplète ou inexacte sera considérée comme nulle et ne permettra pas au gagnant son gain. De manière générale, les participations au Jeu seront annulées si elles sont incomplètes, erronées, contrefaites ou réalisées de manière contrevenante au présent règlement.
 </p>

<h4>ARTICLE 10 : LITIGES</h4>

<p>Le fait de participer à ce Jeu et d’avoir coché la case d’acceptation du présent règlement lors de l’inscription entraîne l’acceptation pure et simple du présent règlement. Toute interprétation litigieuse du présent règlement ainsi que tous les cas non prévus seront tranchés par un jury de 3 membres désignés par la Société Organisatrice. Toute demande concernant l’interprétation du règlement doit parvenir par écrit. Il ne sera répondu à aucune demande concernant l’interprétation du présent règlement qui parviendra chez la Société Organisatrice plus de 15 jours après la fin du Jeu. 
</p>
<h4>ARTICLE 11 : COMMUNICATION IDENTITE GAGNANTS</h4>

<p>Les gagnants autorisent, sauf avis contraire, la Société Organisatrice à utiliser leurs noms, prénoms, villes et département de résidence dans ses messages de communication relatifs à l’opération, quel que soit le support de diffusion (tout document imprimé, presse, affichage, Internet y compris les sites communautaires notamment Facebook®, radio, TV, etc.), en France métropolitaine, pendant six (6) mois à compter de la date de clôture du jeu, et sans que cette utilisation puisse ouvrir d’autres droits que la dotation gagnée.
</p>

<h4>ARTICLE 12 : INFORMATIQUE ET LIBERTÉS</h4>

<p>Pour participer au jeu, les participants doivent fournir certaines informations les concernant. Ces informations seront sauvegardées et feront l’objet d’un traitement automatisé en conformité avec la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés.
Les participants disposent d’un droit d’accès, de modification, de rectification et de suppression des données les concernant. Les participants peuvent exercer ce droit en écrivant à : 
<address>
MAC FAST<br />
Service Promotion<br />
Jeu «Les 25 ans MACT FAST»<br />
8 rue Gobelins,  75013 Paris<br />
<a href="mailto:contact@macfast.com">contact@macfast.com</a>
</address>
ou par téléphone entre 9h et 17h (GMT+1) (GMT+1) au <a href="tel:+33125662233">(+33) 01 25 66 22 33.</a>

Ces données seront utilisées par la Société Organisatrice à des fins commerciales sous réserve de l’acceptation expresse des participants.
</p>

<h4>ARTICLE 13 : RESPONSABILITÉ</h4>

<p>La responsabilité de la Société Organisatrice est strictement limitée à la délivrance des dotations effectivement et valablement gagnées. Le gagnant veillera à ce que lui et la (les) personne(s) bénéficiant de la dotation se conforment aux conditions générales du fournisseur de la dotation.
La Société Organisatrice ne saurait être tenue pour responsable du fait de l’indisponibilité du produit/service souhaité par un gagnant de la dotation « Les 25 ans MAC FAST ». La Société Organisatrice ne pourra être tenue pour responsable si, en cas de force majeure, pour des raisons indépendantes de sa volonté ou de nécessité justifiée, elle était amenée à annuler le Jeu, à l’écourter, le prolonger ou à en modifier les conditions.<br />
La Société Organisatrice pourra annuler ou suspendre tout ou partie du Jeu s’il apparaît que des fraudes soient intervenues sous quelque forme que ce soit. Elle se réserve, dans cette hypothèse, le droit de ne pas attribuer les dotations aux fraudeurs et/ou de poursuivre devant les juridictions compétentes les auteurs de ces fraudes. Si il était constaté un éventuel retard, des grèves ou faits perturbant l’acheminement des courriers postaux ou électroniques, ainsi qu’une perte des dits courriers, la Société Organisatrice ne sera pas tenue responsable des dites conséquences. Les éventuelles réclamations devront être formulées par les destinataires directement auprès des entreprises ayant assuré l’acheminement.<br />
Par ailleurs, la Société Organisatrice ne saurait être tenue pour responsable d’éventuels dysfonctionnements liés au réseau Internet lui-même ou liés à toute intrusion, tentative d’intrusion, fraude, bug, défaillance technique ou tout autre motif dépassant le contrôle de la Société Organisatrice et ayant entraîné des défaillances dans l’administration, la sécurité, l’équité, l’intégrité ou la gestion du jeu.
La Société Organisatrice ne saurait notamment être déclaré responsable pour toutes erreurs, omissions, interruptions, effacement, et plus généralement, de la perte de toute donnée de ce fait.<br />
La Société Organisatrice ne saurait être tenue pour responsable de l’encombrement du réseau Internet, de la qualité de l’équipement des internautes, ni de la qualité de leur mode d’accès qui pourraient avoir des répercussions sur le temps de connexion nécessaire à la participation. Ainsi, la responsabilité de la Société Organisatrice ne pourra être engagée si les participations ne sont pas enregistrées, incomplètes, ou impossibles à vérifier.
En participant à ce jeu, chaque participant accepte et s’engage à supporter seul, et garantir totalement la Société Organisatrice, ses filiales et sociétés mères, employés ainsi que ses agences conseils en communication de ce fait, tout dommage ou pertes occasionnées ou subies par le participant du fait de la participation à ce Jeu ou du fait de la mise en possession de la dotation et de son utilisation, excepté les cas prévus par la loi applicable.
</p>

<h4>ARTICLE 14 : DÉPÔT ET COPIE DU PRÉSENT RÈGLEMENT</h4>

<p>Le règlement complet du jeu est déposé à la SCP HAUGUEL –SCHAMBOURG, Huissiers de Justice,
14, rue du Faubourg Saint Honoré, 75008 PARIS, France. Le règlement du jeu est disponible sur le Site www.masfast.com et peut y être imprimé.
Toute modification du présent règlement et toute décision de l’Organisateur feront l’objet d’un avenant au présent règlement déposé à la SCP HAUGUEL –SCHAMBOURG, Huissiers de Justice, 14, rue du Faubourg Saint Honoré, 75008 PARIS, France, à l’adresse indiquée ci-dessus.
Une copie écrite du règlement est adressée à titre gratuit, à toute personne qui en fait la demande avant la date de clôture du jeu.
</p>
<p>Cette demande doit être adressée, par courrier uniquement, à :
<address>
MAC FAST<br />
Service Promotion<br />
Jeu «Les 25 ans MAC FAST»<br />
8 rue Gobelins,  75013 Paris<br />
</address>
</p>
<p>Les frais engagés par le participant pour obtenir ce règlement seront remboursés (timbre remboursé au tarif lent en vigueur) sur simple demande écrite conjointe (obligatoirement accompagnée du nom, prénom et adresse du participant, de l’intitulé du Jeu, et en joignant un RIB ou RIP).
</p>

<h4>ARTICLE 15 : CONDITIONS ET REMBOURSEMENT DE FRAIS</h4>

<p>Les frais de connexion liés à la participation sont remboursés en fonction du temps réel de connexion pour la participation, au tarif en vigueur, et sur simple demande écrite à l’adresse :
<address>
MAC FAST - Service Promotion<br />
Jeu «Les 25 ans MAC FAST»<br />
8 rue Gobelins,<br /> 
75013 Paris<br />
</address>
</p>
<p>Le nombre de remboursement(s) est limité à un par foyer. Chaque envoi ne doit comprendre qu’une seule demande de remboursement pour un seul et unique participant (une enveloppe : une demande de remboursement). Le timbre correspondant sera également remboursé (sur la base du tarif lent en vigueur, pour un pli de moins de 20 grammes) sur demande expresse faite en même temps que la demande de remboursement des frais de connexion (max. 3 centimes d’euro / min). Toute demande de remboursement des frais de connexion devra obligatoirement être accompagnée du nom, prénom et adresse du participant, de l’intitulé du jeu, d’un Relevé d’Identité Bancaire (ou RIP, ou RICE), et d’une copie de la facture détaillée du fournisseur d’accès Internet auquel il est abonné et sur laquelle les dates et heures de participation sont surlignées.
Si la connexion a eu lieu dans un cybercafé (max. 6 centimes d’euro / min), le participant devra fournir la preuve de son achat de connexion pour prétendre à tout remboursement. Toute demande, pour être prise en compte, devra impérativement parvenir par écrit au plus tard 30 jours après la clôture de l’Opération, cachet de la poste faisant foi.<br />
Les frais liés aux photocopies des justificatifs sont remboursés sur la base de 0,15 centimes d’euro le feuillet, sur simple demande formulée dans la demande de remboursement des frais de connexion.<br />
Le remboursement sera effectué par virement bancaire, adressé dans les 60 jours de la réception de la demande, après vérification du bien-fondé de la demande et notamment de la conformité des informations contenues dans la lettre de demande de remboursement aux informations enregistrées sur le formulaire d’inscription saisi sur le Site.
Les participants ne payant pas de frais de connexion liés à l’importance de leurs communications (titulaires d’un forfait, utilisateurs du câble, ADSL …) ne pourront pas obtenir de remboursement.
</p>

<h4>ARTICLE 16 : DROIT APPLICABLE ET ATTRIBUTION DE COMPÉTENCES</h4>

<p>Le présent règlement est soumis à la loi française. Toutes difficultés d’interprétation du présent règlement et tout cas litigieux seront tranchés en dernier ressort par la Société Organisatrice ou par les tribunaux compétents au regard des lois françaises. </p>
</p>
</section>
{% endblock %}